# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

.npm

#.npmrc
/node_modules
npm-debug.log

# --------------------------
# Project
# --------------------------

.idea
.idea_modules/

.next
/logs
/output

#*.js
*.js.map
#*.d.ts
#!/types/*.d.ts
#/dist
#/build
